@import '../../../style/mixins.module.scss';
@import '../../../style/colors.module.scss';

.wrapper {
    width: 100%;
    height: 806px;

    .bgWrap {
        position: absolute;
        height: 806px;
        width: 100%;
        overflow: hidden;
        z-index: -1;
    
        .background {
            width: 100%;
            height: 100vh;
            object-fit: cover;
        }
        .background_mobile {
            width: 100%;
            height: 100vh;
            object-fit: cover;
            display: none;
        }
    }

    .block_content {
        width: 100%;
        height: 100%;
        @include flex(flex, column, flex-start, center);
        padding-top: 100px;

        .block_text {
            width: 520px;
            text-align: center;

            h1 {
                padding-bottom: 60px;
                white-space: nowrap;
            }
            p {
                color: $color-white;
            }
        }
    }
}

@media (max-width: 460px) {
    .wrapper {
        .bgWrap {
            .background {
                display: none;
            }
            .background_mobile {
                display: block;
            }
        }
    }
}

@media (max-width: 880px) {
    .wrapper {
        .block_content {
            @include flex(flex, column, flex-start, center);
            padding: 60px 30px 0px 30px;

            .block_text {
                width: 100%;
                max-width: 580px;

                h1 {
                    padding: 30px 0px 20px 0px;
                }
            }
        }
    }
}

@media (max-width: 280px) {
    .wrapper {
        .block_content {
            .block_text {
                h1 {
                    white-space: wrap;
                }
            }
        }
    }
}