@import '../../style/mixins.module.scss';
@import '../../style/colors.module.scss';

.player_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;

    .placeholder {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
    }

    .react_player.videoLoaded {
      opacity: 1;
    }

    .react_player {
      opacity: 0;
      transition: opacity 0.5s ease;

        video {
            width: 100%;
            height: 100vh;
            object-fit: cover;
        }
    }
}

.bgWrap {
  position: absolute;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  z-index: -1;

  .background {
      width: 100%;
      height: 100vh;
  }
}

.conten_wrapper {
  height: 100vh;
  @include flex(flex, column, flex-start, stretch);
  padding: 60px 30px 0px 30px;

  .head_line { 
    @include flex(flex, row, space-between, flex-end);
    position: relative;
  
    & > div:nth-of-type(2) {
      width: 100%;
      @include flex(flex, row, flex-end, flex-end);
    }

    .image_wrap {
      width: 100%;
      height: 100%;
      margin-right: 40px;
    
        .logo {
          width: 280px;
          height: auto;
          min-width: 280px;
      }
    }

    .sidebar_bg {
      display: none;
      position: fixed;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background: rgba(99, 99, 98, 0.80);
      z-index: 99;
      opacity: 0;
      visibility: hidden;
      transform: translatex(100%);
      transition: opacity 0.3s ease, visibility 0.2s, transform 0.3s ease;
    
      &.show {
        display: block;
        opacity: 1;
        visibility: visible;
        transform: translatex(0);
      }
    }

    .block_nav {
      @include flex(flex, row, flex-end, flex-end);
      
      a {
          color: $color-white;
          font-size: 18px;
          font-weight: 300;
          line-height: normal;
          margin-right: 20px;
          cursor: pointer;
          white-space: nowrap;
          user-select: none;
    
          @media (hover: hover) {
            &:hover {
              transition: all 250ms ease-in-out;
              color: $color-yellow;
            }
          }
      }
    }
  }

  .box_center {
    height: 100%;

    .box_center_content {
      height: 90%;
      @include flex(flex, column, center, flex-start);

      .block_title {
        width: 100%;
        height: 60%;
        @include flex(flex, column, center, flex-start);
        
        .title {
            font-size: 76px;
            line-height: normal;
            font-weight: 400;
            color: $color-white;
            text-transform: uppercase;
      
            span {
                font-weight: 200;
                color: $color-yellow;
                letter-spacing: 10px;
            }
        }
      }

      .block_btn {
        @include flex(flex, column, center, flex-start);
      
        .btn {
            background: $color-gray-blue;
            border: 0;
            outline: 0;
            transition: all .3s;
            cursor: pointer;
            font-size: 16px;
            font-weight: 300;
            border-radius: 5px;
            padding: 20px 32px;
            align-items: center;
            border-radius: 50px;
            color: $color-white;
            user-select: none;
      
              @media (hover: hover) {
                &:hover {
                  transform: scale(1.03);
                  background: #5C7EB4;
                }
                &:active{
                  background: #5C7EB4;
                  transform: scale(.98);
                }
              }
              @media (hover: none) {
                &:active{
                  background: #5C7EB4;
                  transform: scale(.98);
                }
              }
        }
      }
    }
  }
}

.sidebar {
  display: none;
}

    @media (max-width: 1170px) {

      .conten_wrapper {

        .head_line {
          width: 100%;
          @include flex(flex, column, space-between, stretch);

          .image_wrap {
            margin-right: 0px;
            margin-bottom: 80px;
          }
        }
      }
    }

    @media (max-width: 880px) {

      .conten_wrapper {
        padding: 40px 20px 0px 20px;
        position: relative;

        .head_line { 
          @include flex(flex, row, space-between, flex-end);

          .image_wrap {
            margin-right: 40px;
            margin-bottom: 0px;
    
              .logo {
                  width: 160px;
                  height: auto;
                  min-width: 160px;
                  position: relative;
                  top: 20px;
            }
          }
          .block_nav {
            display: none;
          }
        } 
        .box_center {

          .box_center_content {

            .block_title {

              .title {
                      font-size: 30px;

                      span {
                        letter-spacing: 0px;
                      }
                  }
              }

              .block_btn {

                .btn {
                  font-size: 14px;
                  padding: 16px 32px;
                }
              }
          }
        }
      }

      .sidebar {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 100;
        width: 70%;
        height: 100%;
        background: $color-yellow-background;
        box-shadow: 0 10px 20px -4px $color-black;
        overflow-x: auto;
        overflow-y: hidden;
        pointer-events: none;
        opacity: 0;
        visibility: hidden;
        transform: translateX(100%);
        transition: opacity 0.3s ease, visibility 0.2s, transform 0.3s ease;

        &.show {
          pointer-events: all;
          opacity: 1;
          visibility: visible;
          transform: translateX(0);
          overflow: hidden;
        }


        .mobile_nav_unit {
          height: 100%;
          @include flex(flex, column, center, flex-start);
          padding: 0px 0px 0px 50px;

            a {
              @include flex(flex, row, center, center);
              height: 60px;
              font-size: 18px;
              font-weight: 300;
              line-height: normal;
              margin-bottom: 18px;
              color: $color-white;
              cursor: pointer;
              pointer-events: all;
              user-select: none;
          }
        }
      }

    .block_toggler {
      @include flex(flex, row, center, flex-end);
      width: 60px;
      height: 50px;
      z-index: 101;
      cursor: pointer;

      &:focus {
        outline: none;
      }

      .sidebar_toggler {
        width: 1.8rem;
        height: 1.3rem;
        @include flex(flex, column, space-between, center);
        overflow: hidden;

        span {
          background-color: $color-white;
          width: 100%;
          height: 2.4px;
          transition: all 0.3s ease;
          pointer-events: none;
        }
      }
    }
      .sidebar.show + .block_toggler > .sidebar_toggler {
        justify-content: center;
      }
      .sidebar.show + .block_toggler > .sidebar_toggler span {
        margin-top: -1.2px;
        margin-bottom: -1.2px;
      }
      .sidebar.show + .block_toggler > .sidebar_toggler span:first-child {
        transform: rotate(45deg);
      }
      .sidebar.show + .block_toggler > .sidebar_toggler span:nth-child(2) {
        opacity: 0;
        transform: translateX(-100%);
      }
      .sidebar.show + .block_toggler > .sidebar_toggler span:last-child {
        transform: rotate(-45deg);
      }
  }

  @media (max-width: 320px) {
    
    .conten_wrapper {

      .head_line { 

        .image_wrap {
          margin-right: 0px;
          margin-bottom: 0px;
  
            .logo {
                min-width: 130px;
          }
        }
      }

      .block_title {
        
        .title {
                font-size: 24px;
            }
        }
    }

    .sidebar {
      width: 100%;
    }

    .block_toggler {

      .sidebar_toggler {
        width: 1.7rem;
        height: 1.2rem;
      }
    }
  }
