.top_to_btm{
    position: relative;

    .icon_position{
      position: fixed;
      bottom: 40px;
      right: 25px;
      z-index: 20;
    }
    
    .icon_style{
      background: transparent;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      cursor: pointer;
      animation: movebtn 3s ease-in-out infinite;
      transition: all .5s ease-in-out;
    }
  }
