@import '../../style/mixins.module.scss';
@import '../../style/colors.module.scss';

.wrapper {
    height: 100vh;
    padding: 100px 50px;
    position: relative;
    @include flex(flex, row, space-around, center);

    .bgWrap {
        position: absolute;
        height: 100vh;
        width: 100%;
        overflow: hidden;
        z-index: -1;
    
        .background {
            width: 100%;
            height: 100vh;
            object-fit: cover;
        }
    }

    .block_contacts {
        height: 462px;
        width: 100%;
        @include flex(flex, row, space-around, center);

        .title_mobile {
            display: none;
            padding-bottom: 30px;
        }

        .image_wrap {
            @include flex(flex, row, center, flex-start);
            max-width: 500px;
            height: 400px;
            margin-right: 40px;
            padding-top: 70px;

              .logo {
                width: 300px;
                min-width: 260px;
                height: 60px;
            }
          }
          .contacts {
            width: 100%;
            max-width: 500px;
            height: 400px;
            padding: 40px 60px;
            background: rgba(99, 99, 98, 0.70);
        
            .title {
                padding-bottom: 30px;
            }
            
            ul {
                color: $color-white;
                @include flex(flex, column, flex-start, flex-start);
            
                li {
                    max-width: 324px;
                    height: 80px;
                    @include flex(flex, row, flex-start, center);
                    font-size: 16px;
                    font-weight: 300;
            
                    span {
                        font-weight: 200;
                        padding-left: 5px;
                    }
                    img {
                        width: 32px;
                        height: 32px;
                        margin-right: 20px;
                    }
                }
            }
        }
    }
}

@media (max-width: 880px) {
    .wrapper {
        padding: 100px 0px;
        
        .block_contacts {
            width: 100%;
            @include flex(flex, column, center, flex-start);

            .title_mobile {
                display: block;
                padding: 0px 0px 60px 20px;
            }
            .image_wrap {
                display: none;
            }

            .contacts {
                width: 100%;
                max-width: 100%;
                @include flex(flex, row, flex-start, center);
                padding: 40px 22px;

                .title {
                    display: none;
                }

                ul {
                
                    li {
                        font-size: 16px;

                        img {
                            width: 28px;
                            height: 28px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 280px) {
    .wrapper {
        .block_contacts {
            .contacts {
                ul {
                    li {
                        font-size: 14px;
                        img {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
}