@import '../../style/mixins.module.scss';
@import '../../style/colors.module.scss';

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100dvh;
  z-index: 1000;
  background: $color-yellow;
  animation: fade-enter 0.2s ease-in both;
  overflow: auto;

  @keyframes fade-enter {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
    .closeButton {
      @include flex(flex, column, center, center);
      position: absolute;
      top: 15px;
      right: 5px;
      width: 1.8rem;
      height: 1.3rem;
      overflow: hidden;
      z-index: 101;
      cursor: pointer;
      padding: 25px;

      &:focus {
        outline: none;
      }

      span {
        background-color: $color-white;
        min-width: 25px;
        height: 2.4px;
        margin-top: -1.2px;
        margin-bottom: -1.2px;
        pointer-events: none;

        &:first-child { 
          transform: rotate(45deg);
        }
        &:last-child {
          transform: rotate(-45deg);
        }
      }
    }
}