@import '../../../style/mixins.module.scss';
@import '../../../style/colors.module.scss';

.wrapper {
    width: 100%;
    height: 944px;

    .bgWrap {
        position: absolute;
        width: 100%;
        height: 944px;
        overflow: hidden;
        z-index: -1;
    
        .background {
            width: 100%;
            height: 100vh;
            object-fit: cover;
        }
    }

    .block_content {
        height: 100%;
        padding: 100px 50px;
        @include flex(flex, row, space-around, flex-start);
    
        .block_text {
            width: 520px;
            padding-right: 50px;
            @include flex(flex, column, center, flex-start);
    
            h1 {
                color: $color-yellow;
                font-size: 48px;
                line-height: normal;
                font-weight: 400;
                padding-bottom: 60px;
 
            }
            p {
                color: $color-white;
                font-size: 18px;
                line-height: normal;
                font-weight: 200;
            }
        }
        .block_list {
            width: 655px;
            @include flex(flex, column, center, flex-start);
    
            .section_list {
                padding: 30px 0px 0px 20px;

                h2 {
                    color: $color-white;
                    font-size: 24px;
                    line-height: normal;
                    font-weight: 400;
                    padding-bottom: 10px;
                    text-transform: uppercase;
                    position: relative;

                        &::before {
                            content: "\2022";
                            width: 20px;   
                            display: inline-block; 
                            color: $color-yellow;
                            position: absolute;
                            left: -20px;
                        }
                }
                p {
                    color: $color-white;
                    font-size: 18px;
                    line-height: normal;
                    font-weight: 200;
                }
            }
        }
    }
}

@media (max-width: 880px) {

    .wrapper {
        height: 1600px;

        .bgWrap {
            height: 1600px;
        }
        .block_content {
            padding: 50px 20px;
            @include flex(flex, column, center, flex-start);

            .block_text {
                width: 100%;
                padding: 0px 0px 60px 20px;

                h1 {
                    font-size: 32px;
                    padding-bottom: 20px;
                }
                p {
                    font-size: 16px;
                }
            }
            .block_list {
                width: 100%;
                .section_list {

                    h2 {
                        font-size: 20px;
                    }
                    p {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}