$color-white: #FFFFFF;
$color-black: #000000;
$color-yellow: #FFC100;
$color-gray: #454545;
$color-gray-blue: #859BBE;
$color-yellow-background: #E9BD36;
$color-light-gray-error: #E6E7EB;
$color-dark-gray-error: #333333;
$color-dark-gray-error-hover: #3D3A3A;
